.wp-block-cool-timleine-shortcode-block .ctl-block-image ul {
    float: right;
    color: #fff;
    display: inline-block;
	margin:15px;
    font-size: 18px;
    width: auto;
	min-width: 200px;
	background: rgba(32, 32, 32, 0.95);
	li {
		padding:2px;
	}
	li strong {
		color: #ff6f6f;
	}
}

.ctl-block-shortcode {
	font-size: 12px;
    font-family: monospace;
    color: #444;
    display: inline-block;
    padding: 6px;
    background: #f9f9f9;
	border: 1px solid#eee;
	width:100%;
}