.timeline dl dd.even .circ, .timeline dl dd.even .events h4 
				{ background-color:#dd3333; }
				.timeline dl dd.odd .circ, .timeline dl dd.odd .events h4 
					{ background-color:#dd3333; }
				.timeline dl dd.even .events:before {border-right-color:#dd3333;}
				.timeline dl dd.odd .events:before {border-left-color:#dd3333; }
				.timeline dl dd.even .time { color:#dd3333; }
				.timeline dl dd.odd .time { color:#dd3333; }
				@media screen and (max-width:760px) {
				.timeline dl dd.odd .events::before{border-right-color:#dd3333;border-left-color:transparent; }
			}
			.ctl_info.event-description{background-color:#ffffff;}.timeline dl dt{ background-color:#dd9933;}
			.timeline dl::before{background-color:#dd9933;}
			.avatar_container img.center-block.img-responsive.img-circle{border:2px solid #dd9933;}
			.timeline dl dd .events .events-body{font-weight:lighter;font-family:Acme;font-size:13px;}
			.timeline dl dd.even .events h4,.timeline dl dd.odd .events h4 {font-weight:normal;font-family:Alike;font-size:12px;}.timeline dl dt ,
			.timeline dl dd.pos-right .time ,{font-weight:lighter;font-family:Acme;font-size:13px;}.cool_timeline h1.timeline-main-title{font-family:Acme;}
											